/* style-produtos.css */

.container-produtos {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Espaço entre os cards */
    max-width: 1280px;
    margin: 0 auto; /* Centraliza o contêiner na tela */
}

.produto-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}

.produto-card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.botoes-carrinho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.botoes-carrinho button {
    background-color: #107d20;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.quantidade {
    font-weight: bold;
    font-size: 18px;
}
