.container-produtos {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
       
    /* align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1280px; */
}

.produto-card {
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* width: 200px; */
}
.produto-card h2{
    display: flex;
    font-size: 1em;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 2px;
}

.produto-card img {
    width: 100%;
    height: fit-content;
    border-radius: 8px;
    margin-bottom: 10px;
}

.botoes-carrinho {
    display: flex;
    align-items: end;
    justify-content: space-around;
    margin-top: 10px;
    position: relative;
}

.botoes-carrinho button {
    background-color: #107d20;
    color: #fff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.quantidade {
    font-weight: bold;
    font-size: 18px;
}
