/* Estilização Geral do Site */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    background-color: rgb(255, 255, 255);
    height: 100vh;
}


.interface{
    max-width: 80%;
    height: 100%;
    margin: 0 auto;
}

.display-flex-generic{
    display: flex;
}

/* Estilização do Cabeçalho e Menu de Navegação */

header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover {
    color: #107d20;
    font-size: large;
    text-decoration: none;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}

.logo img{
    width: 120px;
    height: 120px;
    border-radius: 5px;
}


/* Estilização topo home page do site */
section .home-page{
    width: 100vw;
    padding: 40px 4%;
}

section .home-page .display-flex-generic{
    align-items: center;
    justify-content: center;
    gap: 90px;
    width: 100%;
}

.home-page h1{
    color: #000000;
    font-size: 38px;
}

.home-page h1 span{
    color: #107d20;
    text-decoration: underline;
}

.home-page .interface .display-flex-generic .texto-home-page{
    background-color: blue;
    width: 60%;
}

.home-page .interface .display-flex-generic .video-home-page{
    background-color: yellow;
    width: 40%;

}