* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

.interface {
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    box-sizing: border-box;
    min-height: 100%;
}

.display-flex-generic {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 90px;
}

header {
    padding: 20px 10%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a {
    color: #7d7d7d;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    transition: .2s;
}

header a:hover {
    color: #107d20;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header nav ul li.active a {
    color: #107d20;
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
    transform: scale(1.05);
}

.logo img {
    width: 120px;
    height: 120px;
    border-radius: 5px;
}

.img-carrinho img {
    width: 50px;
    height: 50px;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #107d20;
    color: #fff;
    margin-top: 20px;
}

.footer-content {
    text-align: center;
    padding: 20px;
    background-color: #107d20;
    color: #fff;
    margin-top: auto;
}

.footer-content p {
    margin: 0 0 10px 0;
}

.social-icons img {
    width: 30px;
    height: 30px;
    margin: 0 10px;
}

.col-esquerda {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.col-esquerda h1 {
    color: #000000;
    font-size: 30px;
    margin: 0px 2px;
}

.col-esquerda h1 span {
    color: #107d20;
    text-decoration: underline;
}

.col-esquerda p {
    color: #000000;
    margin-top: 10px;
}

.col-direita {
    width: 40%;
}

iframe {
    width: 100%;
    height: 100%;
}

.col-direita {
    position: relative;
    width: 40%;
    height: 300px;
}

@keyframes floatAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

iframe {
    width: 100%;
    height: 100%;
    animation: floatAnimation 2s infinite;
}

.linguagens-section {
    max-width: 80%;
    margin: 20px auto;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

thead {
    background-color: #107d20;
    color: #fff;
}

th, td {
    border: 1px solid #107d20;
    padding: 10px;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}
